<h1>Twoje Fundusze: {{ cash }}</h1>
<h3>Pot: {{ pot }}</h3>

<main>
  <div class = "btn-group">
    <h3>Czas: {{time}}s</h3>
    <p>Bet value: <label><input type="number" name="betValue" value="0"></label></p>
    <p>Raise value: <label><input type="number" name="betValue" value="0"></label></p>
    <button value="Bet" name="bet" (click)="betPoker()" >Bet</button>
    <button value="Check" name="check" (click)="checkPoker()" >Check</button>
    <button value="Fold" name="fold" (click)="foldPoker()" >Fold</button>
    <button value="Call" name="call" (click)="checkPoker()" >Call</button>
    <button value="Raise" name="raise" (click)="raisePoker()" >Raise</button>
  </div>

  <div class = "players">
    <div class = "player">
      <img src="../../../assets/images/avatars/1.png" alt="card" width="127">
      <div class = playerCards>
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
      </div>
    </div>

    <div class = "player">
      <img src="../../../assets/images/avatars/1.png" alt="card" width="127">
      <div class = playerCards>
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
      </div>
    </div>

    <div class = "player">
      <img src="../../../assets/images/avatars/1.png" alt="card" width="127">
      <div class = playerCards>
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
      </div>
    </div>

    <div class = "player">
      <img src="../../../assets/images/avatars/1.png" alt="card" width="127">
      <div class = playerCards>
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
      </div>
    </div>

    <div class = "player">
      <img src="../../../assets/images/avatars/1.png" alt="card" width="127">
      <div class = playerCards>
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
        <img src="../../../assets/images/cards/reversy/blue_back.png" alt="card" width="27">
      </div>
    </div>
  </div>

  <div class = "cards">
    <img src="../../../assets/images/cards/AH.png" alt="card" width="127">
    <img src="../../../assets/images/cards/10D.png" alt="card" width="127">
  </div>

  <div class = "deck" id = 'deck'>
    <img src="../../../assets/images/cards/4C.png" alt="card" width="127">
    <img src="../../../assets/images/cards/4C.png" alt="card" width="127">
    <img src="../../../assets/images/cards/4C.png" alt="card" width="127">
    <img src="../../../assets/images/cards/4C.png" alt="card" width="127">
  </div>

  <button value = "exit" name = "exit" (click)="exitGame()">Wyjdź</button>
</main>
