<h1>Welcome to Grand Poker</h1>

<h2>Szukanie Stołu</h2>

<main>

<div class="centerStuff">
  <p>Podaj Numer Stołu:</p>
  <input type="text" id="gameId" name="gameId" value="#"><br><br>
  <button value="search" name="search" (click)="searchGame()"> Szukaj </button><br><br><br>
  <button class="buttonBig" value="searchRandom" name="searchRandom" (click)="searchGameRandom()" > Szukaj Losowej Gry </button><br><br><br>
  <button value="goBack" name="goBack" (click)="goBack()"> Wróć </button><br><br><br>
</div>

</main>



