<h1>Welcome to Grand Poker</h1>

<h2>Rankingi</h2>

<main>

  <div class="row">
    <div class="column">
      <p>Rangking Tygodniowy</p>
      <div style="border:1px solid #4e4e4e;font:16px Arial, Serif;overflow:auto;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan metus vitae purus tempor, vel sollicitudin nulla aliquam. Morbi tincidunt tellus nec nibh faucibus porttitor.
      </div><br>

      <button name="goBack" value="goBack" (click)="goBack()">Wróć</button>
    </div>
    <div class="column">
      <p>Rangking Ogólny</p>
      <div style="border:1px solid #4e4e4e;font:16px Arial, Serif;overflow:auto;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan metus vitae purus tempor, vel sollicitudin nulla aliquam. Morbi tincidunt tellus nec nibh faucibus porttitor.
      </div>
    </div>
  </div>

</main>



